@model IEnumerable<RichmondDay.Models.RichmonddayInfoModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Info";
}
<div class="container">
    <div class="row">
        <div class="navbar navbar-brand" style="color:blueviolet">
            <h2>Richmondday Employee Information</h2>
        </div>
    </div>

    <div class="row" id="allInfo">
        @Html.Partial("~/Views/Partials/_Info.cshtml", Model)
    </div>
</div>



